@charset "utf-8";
@import url("../resources/Open_Sans/OpenSans-Regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
	--color-ppal: #FFA911;
  }

body{
	background-image:url("../images/fondo.png"); 
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}

header{
	padding:15px 20px;
	margin:0;
	border-radius:10px 10px 0 0;
	box-sizing:border-box;
	background-color:#FFF;
	display: flex;
	justify-content:space-evenly;
	align-items:center;
	min-height:150px;
}

h1, h2, h3{
	text-align:center;
	color: var(--color-ppal);
	font-family: 'Fredericka the Great', cursive;
	font-weight: normal;
}

h1{
	text-transform:uppercase;
	margin:0;
	width:78%;
	font-size: 40px;
}

h2{
	margin-top: 0;
}

a{
	text-decoration:none;
}

nav ul{
	background-color:var(--color-ppal);
	height:80px;
	margin:0;
	padding:0;
	display: flex;
	justify-content:space-evenly;
	align-items:center;
/*	align-content:space-between;
	flex-flow:column-reverse wrap;*/
}

nav ul li{
	list-style:none;
	line-height:31px;
}

nav ul li a{
	background-color:#FFF;
	color:#000;
	padding:5px 10px;
	border-radius:8px;
}

nav ul li a:hover{
	background-color:#000;
	color:#FFF;
}

section{
	padding:20px;
	text-align:justify;
}

section img{
	width:600px;
}

footer p{
	padding:15px 0;
	text-align:center;
	font-size:12px;
	background-color: rgba(255, 255, 255, 0.9);

}

aside{
	background-color:var(--color-ppal);
	float:left;
	width:38%;
}

aside img{
	width:100%;
}


/* Identificadores */

#principal{
	padding:0;
	width:1024px;
	margin:0 auto;
	background-color:#F8F8F8;
	border:2px solid #000;
	box-shadow:3px 3px 3px #666;
	border-radius:10px;
}

#video{
	background-color:gray;
	width: 800px;
	height:600px;
}

#imgCentro{
	text-align:center;
	float:right;
	width:50%;
}

#imgCentro p{
	padding:0 10px;
}

#imgCentro img{
	width:300px;
}

#tflot{
	float:right;
	width:50%;
}

#sFlotante{
	float:left;
	box-sizing:border-box;
	width:60%;
}


/* Clases */

.clear{
	clear:both;
}

.centrar{
	text-align:center;
}

.sect-2{
	text-align: center;
}

.contacto{
	text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:992px) {
	:root{
		--color-ppal:rgb(0, 165, 0);
	}

	#principal{
		width: 864px;
	}
}

@media screen and (max-width:768px){
	:root{
		--color-ppal:rgb(0, 11, 165);
	}

	#principal{
		width: 700px;
	}

	#video{
		width:450px;
	}
}

@media screen and (max-width: 480px){
	:root{
		--color-ppal:rgb(18, 99, 44);
	}

	#principal{
		width: 480px;
	}

	header{
		display: block;
		text-align: center;
	}

	section img{
		width: 100%;
	}

	header h1{
		width:100%;
	}

	header img{
		width:50%;
	}

	#tflot{
		width: 100%;
		float: none;
	}

	#imgCentro{
		float: none;
		width: 100%;
	}

	#sFlotante{
		width: 100%;
	}

	aside{
		width: 100%;
	}
}
